.loader {
  text-align: center;
}

.book-now {
  display: inline;
  border-radius: 0;
  position: absolute;
  right: 15px;
  top: auto;
  border: 5px solid #fff;
  border-top: 0;
}

.main-content {
  margin-bottom: 25px;
  img {
    width: 100%;
  }
}

aside {
  display: block;
  min-height: 500px;
  &.venue-address {
    font-size: 0.85rem;
    .data-label {
      display: inline-block;
      min-width: 87px;
      font-weight: 500;
    }
    .data-value {
      display: inline-block;
      max-width: 150px;
      vertical-align: text-top;
    }
  }
}


