<div class="row">
  <section class="main-content col-md-8 col-sm-12">
    <div *ngIf="isLoadingContent" class="loader">
      <div class="spinner-border text-success">
        <span class="sr-only">Loading Content...</span>
      </div>
    </div>


    <h2>{{venueInformation.attributes.name}}</h2>
    <div>
      {{venueInformation.attributes.format}} |
      {{venueInformation.attributes.sport}}
      {{surface}}
    </div>
    <span class="book-now btn btn-primary col-3" (click)="bookVenue($event)">Book Now</span>
    <img [src]="venueInformation.attributes.images.medium" />
    <div>
      <app-maps></app-maps>
    </div>
    <hr />
    <div>
      {{venueInformation.attributes.about}}
    </div>
  </section>

  <aside class="venue-address col-md-4 col-sm-12">
    <section>
      <p>
        <span class="data-label">Venue:</span> <span class="data-value">{{name}}</span><br />
        <span class="data-label">Address:</span> <span class="data-value">{{address1}} {{address2}}</span><br />
        <span class="data-label">Town:</span> <span class="data-value">{{town}}</span><br />
        <span class="data-label">Postal code:</span> <span class="data-value">{{postcode}}</span><br />
      </p>

      <p>
        <span class="data-label">Telephone:</span> <span class="data-value">{{contact_number}}</span><br />
        <span class="data-label">Region:</span> <span class="data-value">{{area}}</span><br />
        <span class="data-label">Council:</span> <span class="data-value">{{council}}</span><br />
      </p>
      <p>
      <span class="data-label">Nearest tube:</span><span class="data-value">{{nearest_tube}}</span><br />
      <span class="data-label">Parking:</span> <span class="data-value">{{parking_type}}</span><br />
      </p>
    </section>
  </aside>
</div>

