<div class="col-sm-6">
  <section class="">
    <h2>{{this.model.attributes.name}}</h2>
    <img [src]="image" />
    <article>
      {{minDescription}} <span *ngIf="showMore" class="more">more...</span>
    </article>

    <a class="btn btn-primary book-now" (click)="bookVenue($event)"> + Book Now</a>
    <a class="btn" [routerLink]="webLink">✔ Explore Venue</a>
  </section>
</div>
