div {
  height: 133px;
  width: 50%;
  margin-bottom: 15px;
  float: left;
  padding: 4px;
  border-radius: 0.2rem;

  &:hover {
    background: #e8f8a3;
  }

  img {
    max-width: 145px;
    float: left;
    vertical-align: top;
    display: inline-block;
    margin-right: 5px;
  }

  h2 {
    font-size: 1.1rem;
    margin: 0 5px 5px 0;
    color: green;
  }

  article {
    font-size: 0.9rem;
    line-height: 1.3rem;
    vertical-align: top;
    margin: 0 0 0 6px;
    color: #346c34;
    .more {
      font-style: italic;
      color: green;
    }
  }

  a {
    position: absolute;
    bottom: 5px;
    right: 5px;
    outline: none;
    margin: 5px 0 0;
    font-size: 0.7rem;
    text-transform: uppercase;
    border: solid #008000 2px;
    border-radius: 9px;
    background: transparent;
    &.book-now {
      right: 133px;
      color: #fff;
      background-color: #8BC34A;
      border-color: #008000;
    }
    &:hover {
      border-color: #50d750;
    }
  }
}
@media (max-width: 700px) {
  div {
    height: 350px;
    width: 50%;
    margin-bottom: 15px;
    float: left;
    h2 {
      min-height: 42px;
    }
    img {
      max-width: none;
      float: none;
      width: 100%;
    }
  }
}

@media (max-width: 650px) {
  div {
    height: 300px;
  }
}



@media (max-width: 840px) {
  a {
    &.book-now {
      display: none;
    }
  }
}
