<div class="modal-header">
  <h4 class="modal-title" id="modal-title">✔ Venue Reservation</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Book your reservation or <b>call 000 000 00000</b></p>
  <form [formGroup]="bookingFrom" class="form-horizontal">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label class="control-label"><fa class="btn-actions" name="address-card"></fa>Booking Information:</label>
            <div>
              <input formControlName="fullName" class="form-control" id="fullName" type="text" placeholder="full name" />
              <span class="help-block" *ngIf="formErrors.fullName"> {{formErrors.fullName}}</span>
            </div>
          </div>

          <div class="form-group">
            <div>
              <input formControlName="email" class="form-control" id="email" type="text" placeholder="Email"  />
              <span class="help-block" *ngIf="formErrors.email"> {{formErrors.email}}</span>
            </div>
          </div>

          <div class="form-group">
            <div>
              <input formControlName="telephone" class="form-control" id="telephone" type="text" placeholder="Telephone" />
              <span class="help-block" *ngIf="formErrors.telephone">{{formErrors.telephone}}</span>
            </div>
          </div>

          <div class="form-group">
            <div>
              <textarea formControlName="message" class="form-control" id="message" type="text" placeholder="message"></textarea>
              <span class="help-block" *ngIf="formErrors.message">{{formErrors.message}}</span>
            </div>
          </div>
        </div>
        <div class="date-reservation col-sm-4">
          <div class="form-group">
            <label class="control-label"><fa class="btn-actions" name="calendar"></fa> Reservation Date:</label>
            <div>
              <input type="text"
                     formControlName="dateStart"
                     [(ngModel)]="dateStart"
                     ngbDatepicker
                     #ds="ngbDatepicker"
                     (focus)="ds.open()"
                     name="dateStart"
                     placeholder="dd-mm-yyyy"
                     class="form-control"/>
              <span class="help-block" *ngIf="formErrors.dateStart">{{formErrors.dateStart | date: 'dd/MM/yyyy'}}</span>
            </div>
          </div>

          <div class="form-group">
            <div>
              <input type="text"
                     formControlName="dateEnd"
                     [(ngModel)]="dateEnd"
                     ngbDatepicker
                     #de="ngbDatepicker"
                     (focus)="de.open()"
                     name="dateEnd"
                     placeholder="dd-mm-yyyy"
                     class="form-control"/>
              <span class="help-block" *ngIf="formErrors.dateEnd">{{formErrors.dateEnd}}</span>
            </div>
          </div>
        </div>
      </div>

    </div>


  </form>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
  <button type="button" class="btn btn-primary reserve-booking" (click)="bookReservation()">Book Reservation</button>
</div>
