.modal-title {
  color: #38bb38;
}

.modal-body {
  p {
    color: #346c34;
  }
}

label {
  color: #346c34;
  font-size: 0.85rem;
}

.help-block {
  color: #38bb38;
  font-weight: bold;
  font-size: 0.85rem;
  line-height: 1rem;
  display: inline-block;
}

fa.btn-actions {
  color: #8BC34A;
}

.date-reservation {
  border-left: solid #8BC34A 1px;
}

button {
  outline: none;
  margin: 5px 0 0;
  text-transform: uppercase;

  border-radius: 9px;
  &.reserve-booking {
    border: solid #008000 2px;
    background-color: #8BC34A;
    &:hover {
      border-color: #50d750;
    }
  }
}
