<section class="jumbotron">
  <form #searchComponent>
    <label class="row">FIND SOME WHERE TO PLAY</label>
    <span class="row">
      <div ngClass="dropdown {{selectError}} col-lg-2 col-md-3 col-sm-12 mb-2">
        <select name="selectSport"
                ngClass="dropdown-menu {{selectError}} btn btn-secondary"
                id="dropdownMenuButton"
                (change)="changeSelector()"
                [(ngModel)]="selectedSport">
          <option class="dropdown-item" value="select" [selected]="selectedSport === 'selected'">Select Your Passion</option>
          <option class="dropdown-item"
                  *ngFor="let sport of sports"
                  [selected]="selectedSport === sport.attributes.name"
                  [value]="sport.id">{{sport.attributes.name}}</option>
        </select>
      </div>

      <input (change)="searchVenues()"
             (keyup)="searchVenues()"
             [(ngModel)]="keywords" name="keywords" type="text"
             ngClass="form-control keywords {{formError}} col-lg-7 col-md-5 col-sm-12 mb-2"
             value="" placeholder="venue location: eg wembley" />
      <button (click)="searchVenues()" class="col-md-2 col-sm-3 mb-2 search-button">PLAY</button>
    </span>

  </form>
</section>
