.jumbotron {
  form {
    padding: 0 5px;
  }

  font-weight: 600;
  color: #fff;
  text-shadow: #000 1px 0 10px;
  font-size: 1.5rem;
  background: url('assets/images/golf-landscape.jpg') no-repeat center center #b2edb2;
  background-size: 100%;

  .dropdown {
    padding-left: 0;
    padding-right: 0;
    margin-right: 10px;
    &.error:before {
      content: '!';
      width: 4px;
      height: 25px;
      display: block;
      color: yellow;
      z-index: 5;
      margin-left: -9px;
    }
    select {
      display: inline;
      padding-top: 0.4rem;
      background: #fff;
      border: solid #fff 2px;
      border-radius: 5px;
      height: 38px;
      opacity: 0.7;
      position: absolute;
      top: -2px;
      color: green;
      font-weight: 700;
      .dropdown-item {
        font-size: 0.8rem;
      }
      &.error {
        border-bottom: solid 3px red;
        color: red;
      }
    }
  }

  .keywords {
    &.error {
      border-bottom: solid 3px red;
      opacity: 1;
    }
  }

  button {
    &.search-button {
      outline: none;
      font-size: 1.5rem;
      font-weight: 800;
      color: green;
      padding: 0;
      margin: 0;
      height: 39px;
      text-transform: uppercase;
      border: solid green 2px;
      border-radius: 9px;
      background: #fff;
      opacity: 0.8;
      &:before {
        content: '✔';
        width: 100px;
        height: 55px;
      }
    }
  }

}

@media (max-width: 1197px) {
  .jumbotron {
    background-size: cover;
    .dropdown {
      select {
        position: relative;
        top: auto;
      }
    }
  }
}
