<section class="col-md-12">
  <div class="alert alert-info" *ngIf="isResultsEmpty">Returned no results</div>

  <div *ngIf="isLoadingContent" class="loader">
    <div class="spinner-border text-success">
      <span class="sr-only">Loading Content...</span>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="isMessageError">{{isMessage}}</div>

  <list-item *ngFor="let pitch of pitches" [model]="pitch"></list-item>
</section>
